<ul class="messages">
  <li class="i">
    <div class="head">
        <span class="time"><%= message.timestamp %></span>
        <span class="name"><%= message.user.name %></span>
      </div>
    <div class="message"><%= message.body %></div>
  </li>
</ul>